<h1>Availability Magics</h1>

<%= link_to 'Create new Availability', new_availability_block_path %>


<div class="col-sm-9"> 
  <table class='table table-hover table-inverse'>
    <thead>
      <tr>
        <th>Instructor Name</th>
        <th>Start Time</th>
        <th>End Time</th>
        <th>Type Of Lesson</th>
        <th>Title</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <% @blocks.each do |block| %>
        <tr>
          <td><%= block.instructor_id %></td>
          <td><%= block.start_time.strftime("%a, %b %d, %Y %I:%M %p") %></td>
          <td><%= block.end_time.strftime("%a, %b %d, %Y %I:%M %p") %></td>
          <td><%= block.type_of_lesson %></td>
          <td><%= block.availability_title %></td>
          <td><%= link_to 'Update', edit_availability_block_path(block) %></td>
          <td><%= link_to 'Delete', availability_block_path(block), method: :delete, data: {confirm: 'Are you sure?'} %></td>
        </tr>
      <% end %>
      
    </tbody>  
  </table>
</div>


